<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"> 

<head th:replace="fragments/headerCss :: headerCss"> </head>
<head th:replace="fragments/scriptSource :: scriptSource"> </head>

<body>
	<div class="">
		<div th:replace="fragments/top :: top"></div>
		
		<div style="border: 1px red solid;">
					
			<div layout:fragment="content" class="content">
			 <!-- 컨텐츠 부분 -->
			</div>
		</div>
	</div>
  
<!--   <footer> -->
<!-- 하려면 함 해보셈 일부러 만들지 않음. -->
<!--   </footer>   -->
</body>
</html>